header {
    background-color: #FF5A5F;
    height: 80px;
}
body {
    font-family: Karla, sans-serif;
    color: #484848;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
#logo {
    height: 80px;
}
nav {
    display: inline-block;
    float: right;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
.content {
    width: 900px;
    margin: auto;
}
section {
    padding: 15px;
    border: 1px solid #cccccc;  
    margin-bottom: 10px;
}
section img {
    width: 865px;
}
h1 {
    font-size: 43px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 35px;
}

section p {
    font-size: 20px;
}