body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #E9CCAB;
    position: fixed;
    z-index: 1000;
}

.nav-bar-items{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Luxurious Roman";
    font-size: 35px;
    color: #F16010;
}

a:visited {
    color: #F16010;
    
}

a {
    text-decoration: none;
}

#logo {
    width: 15%;
    margin-left: 20px;
}

#socials:hover {
    cursor: pointer;
}

.motto {
    background-image: url('../img/homemain.jpg');
    height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.homemain-overlay { 
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
    background-color: rgba(216, 192, 129, 0.276);
}

.motto-text {
    font-family: "Mansalva";
    font-size: 125px;
    color: #e5e5e4;
    text-align: center;
    position: obsolute;
    z-index: 1;
}

.quote {
    width: 80%;
    margin: auto;
    font-family: "Luxurious Roman";
    color: #1f1f1f;
    font-size: 40px;
    text-align: center;
}

.rows { 
    display: flex;
    flex-direction: row;
    background-color: #F1DBC2;
    margin: 0;
    padding: 0;

}

.items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

#info-text{
    margin:auto;
}

#row2 {
    display: flex;
    justify-content: flex-end;
}

.home123-overlay {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0px;
    left: 0px;
    background-color: rgba(167, 160, 142, 0.218);
}

#home1, #home2, #home3 {
    width: 50vw;
    height: 350px;

}

#map {
    background-image: url('../img/map.png');
    width: 100%;
    height: 280px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-text {
    font-family: "Luxurious Roman";
    font-size: 20px;
    text-align: center;
    color: #1f1f1f;
}

h1 {
    font-family: "Mansalva";
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #1f1f1f;  
}

h2 {
    font-family: "Mansalva";
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #1f1f1f;
    padding-bottom: 40px;
}

h3 {
    font-family: "Mansalva";
    font-size: 40px;
    line-height: 15px;
    color: #1f1f1f;
    padding-bottom: 20px;
}


