body {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background: #E9CCAB;
    position: fixed;
    z-index: 1000; 
    top:0;

}

.nav-bar-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Luxurious Roman";
    font-size: 35px;
    color: #F16010;
    
}

a:visited {
    color: #F16010;
    
}

a {
    text-decoration: none;
}

#logo {
    width: 15%;
    margin-left: 20px;
}

#socials:hover {
    cursor: pointer;
}

/*
How to get the top part of the body to not be underneath the header? Same issue on the home page too
*/
#background {
    background-color: #F1DBC2;
    height: 100%;
}

.menu-items {
    display: flex;
    flex: row; 
    justify-content: space-around;
    align-items: center;

}

.item--icon {
    display: flex;
    flex: row;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;

}

h1 {
    font-family: "Mansalva";
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

#coffee {
    padding-top: 125px;
}

#tea, #non {
    padding-top: 75px;
}

#last-row {
    padding-bottom: 125px;
}






