body {
    margin: 0;
    padding: 0;
    background-color: #FFF8E7;
}

header {
    width: 100%;
    height: 20%;
    background: #F4E7F1;
    position: fixed;
    z-index: 1000;
}

a:visited {
    color: #F4E7F1;
    
}

a {
    text-decoration: none;
}

#nav-bar{ 
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Liu Jian Mao Cao";
    font-size: 100px;
    color: #987F6D;
}

.order {
    position: absolute;
    top: 10px; 
    right: 15px; 
    background-color: #987F6D;
    padding: 15px;
    border-radius: 5px; 
    font-family: "Liu Jian Mao Cao";
    font-size: 50px; 
    color: #F4E7F1;
    transition: transform 0.2s ease;
}

.order:hover {
    transform: scale(1.2);
}

.scallop::after { 
    position:absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content:" ";
    background: 
    radial-gradient(circle at 50% 0%, #F4E7F1 25%, #FFF8E7 26%, #FFF8E7 40%);
    background-color: #F4E7F1;
    background-size:50px 100px;
    height:50px;
    background-repeat: repeat-x;
  }


.cake {
    display:flex;
    flex-direction: row;
}

.cake img {
    margin-top:20%;
    position: absolute;
    animation: spinEnlarge 1.5s ease-out forwards;
    z-index: 2;
}

#left-cake {
    width: 400px;
    height:auto;
    left: 50px;
    top: -50px;
}

#mid-cake {
    width: 500px;
    height: auto;
    left: 500px;
    top: -180px;
}

#right-cake {
    width: 500px;
    height: auto;
    top: 35px;
    left: 950px;
    right: 50px;
}

.tray {
    display: flex;
    flex-direction: row;
}

.tray img {
    margin-top: 25%;
    z-index: 1;
    animation: popUp 1.8s ease-out forwards;
}

#left-tray {
    width: 450px;
    height: 270px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 500px;
}

#middle-tray {
    width: 30%;
    margin-right: 40px;
    padding-bottom: 20px;
}

#right-tray {
    width: 400px;
    height: 300px;
    margin-top: 500px;
}

@keyframes popUp {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    20% {
      transform: translateY(70%);
      opacity: 0;
    }
    80% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes spinEnlarge {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
